.cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
}

.cover p {
  #pxtoem > .font-size(60);
}

.first-cover{
  background:
  linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
  ),
  url("../img/Tree-cover-1.jpg") no-repeat center center fixed;
}

.second-cover{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url("../img/tree-cover-2.jpg") no-repeat center center fixed;
}