html { height: 100% }
body { height: 100%; margin: 0; padding: 0;}
* {
  margin: 0;
  padding: 0;
}

.main-content-container {
  width: 100%;
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
}

.main-content{
  margin: 0 auto;
}

.pull-right {
  float: right;
}

a {
  text-decoration: none;
}