<div id="map-container">
    <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom'
                        events="map.events"></ui-gmap-google-map>
</div>
<div class="main-content-container memorium">
    <div class="main-content">
        <section class="card">
            <article class="registration-form">
                <h1>Register Bio Urn</h1>
                <p class="atl-subtext">Our condolences for your loss. Fill in the details of your beloved below, so he or she may never be forgotten.</p>
                <form>
                    <div class="form-group" ng-repeat="n in [1,2,3]">
                        <input class="form-input" type="text" placeholder="Name" />
                    </div>
                </form>
                <footer>
                    <a href="#" class="atl-circle pull-right">MARK TREE</a>
                </footer>
            </article>
        </section>
        <section class="card">
            <article class="registration-form">
                <h1>Register Bio Urn</h1>
                <p class="atl-subtext">Our condolences for your loss. Fill in the details of your beloved below, so he or she may never be forgotten.</p>
                <form>
                    <div class="form-group" ng-repeat="n in [1,2,3]">
                        <input class="form-input" type="text" placeholder="Name" />
                    </div>
                </form>
                <footer>
                    <a href="#" class="atl-circle pull-right">MARK TREE</a>
                </footer>
            </article>
        </section>
    </div>
</div>